.post-type-archive-paid-sick-time-law { }

.single-paid-sick-time-law { }


.pstl-table-container {
  overflow-x: auto;
}

.pstl-table {
  tr td {
    border: 1px solid black;
    min-width: 300px;
    padding: 10px;
  }
}